*,
*::before,
*::after {
    /* box-sizing: border; */
}

/* Custom Properties */
:root {
    background-color: var(--clr-white);
    --ff-primary: 'Sour', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-dark: #303030;
    --clr-blue: #011E62;
    --clr-red: #D50132;
    --clr-white: #f6f6f6;
    --clr-gray: #e7e7e7;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em .75em rgba(0, 0, 0, .25), 
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

    --color-bg: #1f1f38;
    --color-bg-variant: #696969;
    --color-primary: #C0C0C0;
    --color-primary-variant: #2F4F4F;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 600ms ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}


/* Gernal Styles */
html {
    scroll-behavior: smooth;
    
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

strong {
    font-weight: var(--fw-bold);
}

.mainHeader{
  margin-top: -3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: nowrap; 
  margin-left: 2rem;

}


.mainHeader img{
  height: 50px;
  padding-right: 4rem;
  display: inline-block;
}

.fixed-header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  transition: all 600ms ease;
}

.fixed-header.visible{
    top: 0;
}

.fixed-header.hidden{
    top: -100px;
}

.logo{
  padding-top: 5.5rem;
  display: inline-block; 
  margin-right: 20px;
  transition: var(--transition);
}

.logo:hover{
    transform: rotate(360deg);
    transition: transform 0.5s ease;
}

.nav-links-header a{
  margin-right: 2rem; 
  color: var(--clr-blue);
  font: var(--ff-primary);
  font-weight: bold;
  text-decoration: none;
  position: right;
  /* padding-left: 17rem; */
  font-size: larger;
  display: inline-block;
  vertical-align: middle;
}

.nav-links-header{
  /* position: center; */
  margin-left: 15px;
}

.BlueBarHeader {
    /* margin-bottom: 1rem; */
    background: linear-gradient(45deg,  var(--clr-blue), lightgrey);
    height: 7rem;
    text-align: left; /* Push the text to the right */
    padding-left: 125px; /* Add padding on the left */
    padding-top: .5rem;
}

.BlueBarHeader h2 {
    margin-bottom: 0.2rem;
    color: var(--clr-white);
    
}

.BlueBarHeader h4 {
    margin-top: 0;
    color: var(--clr-white);
}

.lowerHeader{
    background: linear-gradient(45deg,  var(--clr-blue), lightgrey);
    /* margin-top: -5rem; */
}

.BlueHeader-Links a{
    margin-right: 1rem; 
}

.CodingPicture img{
    padding-top: 13rem;
    height: 600px;
    width: 100%;
}

.search-description p{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 30rem;
    padding-top: 3rem;
    font-size: 20px;
    padding-right: 30rem;
    text-align: center;
    font-weight: bold;
}

.BlueHeader-Links a{
color: #f6f6f6;
font: var(--ff-primary);
font-weight: bold;
text-decoration: none;
font-size: 1.75rem;
}

.BlueHeader-Links i{
    font-size: x-large;
    padding: .5rem;
}

.BlueHeader-Links{
text-align: center;
padding: 10px
}

footer{
background: var(--clr-blue);
padding: 3rem 0;
text-align: center;
font-size: .9rem;
margin-top: 7rem;   
}

footer a{
color: var(--color-white);
}

.footer__logo{
font-size: 2rem;
font-weight: 500;
margin-top: 2rem;
display: inline-block;
}

.footer-logo-img{
    width: 100px;
    height: 100px;
    font-weight: 500;
    margin-top: 0.5rem;
    display: inline-block; 
}

.permalinks{
    display: center;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.permalinks a{
    text-decoration: none;
    text-align: center;
    padding-right: .3rem;
}

.footer__logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
    text-align: center
}

.footer__copyright{
margin-bottom: 4rem;
color: var(--color-white);
}

.buttonlinks{
background-color: transparent;
border-color: transparent;
}


.class-section1 {
    padding-top: -10em;
    background-color: transparent;
    position: center;
    padding-left: 5rem;

    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.div1{
    text-align: center;
}

.div2 h3{
    text-align: center;
}

.div3 img{
    padding: 1.5rem;
}

.div3{
    margin-left: 1rem;
}

.div3 h3{
    text-align: center;
    margin-top: -1.85rem;
}

.div4 img{
    padding: 0.9rem;
}

.div4 h3{
    text-align: center;
    margin-top: -0.7rem
}

.div5 h3{
    text-align: center;
    margin-top: 1rem
}

.info-img{
    height: 250px;
    width: 250px;
}

.parent { 
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    margin-top: 25rem;

    }

    .div1 { grid-area: 1 / 1 / 2 / 7; } 
    .div2 { grid-area: 2 / 2 / 6 / 3; } 
    .div3 { grid-area: 2 / 3 / 6 / 4; } 
    .div4 { grid-area: 2 / 4 / 6 / 5; } 
    .div5 { grid-area: 2 / 5 / 6 / 6; } 

.nav-links-header li{
    float: left;
    list-style: none;
    position: relative;
}

.nav-links-header li a{
    display: block;
    color: #011E62;
    font-size: 24px;
    padding: 22px 14px;
    text-decoration: none;
    overflow-x: hidden;
    padding-left: 50px; /* add left padding */
}

.nav-links-header li ul{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    /* padding: 10px; */
    border-radius: 0px 0px 4px 4px;
    max-height: 200px; /* set a maximum height for the dropdown */
    overflow-y: auto; /* allow vertical scrolling */

}

.nav-links-header li ul::-webkit-scrollbar {
    display: none; /* hide the scrollbar */
  }

.nav-links-header li:hover ul{
    display: block;

}


.nav-links-header li ul li { 
   /* width: 90px; */
   border-radius: 4px;

}

.nav-links-header li ul li a{ 

    padding: 0 0;

}
 
.nav-links-header li ul li a:hover{ 
    background-color: lightgrey;
    
}

.nav-links-header li ul li:last-child{
    border-bottom: none;
}


.search-bar-div{
  max-width: 450px;
  margin: 150px auto;
}
.search-bar-div .searchInput{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.main .search-bar-div{
    max-width: 450px;
    margin-right: 7rem;
    padding-top: 10rem;
    margin-bottom: -5.5rem;
    padding-bottom: -50rem;

}

.searchInput input{
  height: 55px;
  width: 82%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.searchInput.active input{
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    width: 96.5%;
    padding: 10px 8px;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.searchInput.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}


.resultBox li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.searchInput.active .resultBox li{
  display: block;
}

.resultBox li:hover{
  background: #efefef;
}

.searchInput .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}


.course-title {
    color: var(--clr-blue);
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .course-professor {
    font-weight: bold;
    margin-top: 2rem;
    font-size: 18px;

  }
  
  .course-description {
    margin-top: 2rem;
    display: block;
    margin-bottom: 10px;
    margin-right: 50rem;
    font-size: 18px;
  }

  .bar {
    width: 300px;
    height: 30px;
    background-color: #ddd;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;

  }

  .bar::after {
    content: '';
    display: block;
    background-color: var(--clr-blue);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
  }

  .bar1::after {
    width: calc((var(--overall-rating) / 5) * 100%);
    background-color: var(--clr-blue);
  }

  .bar2::after {
    width: calc((var(--difficulty) / 5) * 100%);
    background-color: var(--clr-blue);
  }

  .bar3::after {
    width: calc((var(--course-load) / 5) * 100%);
    background-color: var(--clr-blue);
  }

  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .graph__container{
    /* max-width: 450px; */
    margin-left: 60rem;
    margin-bottom: 10rem;
    margin-top: -15rem;


  }

  /* Style for the form */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 500px;
  }
  
  form label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  form input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    background-color: var(--clr-blue);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
.review label,
.review input,
.review button
.review submit {
  display: block;
  margin-bottom: 10px;
  margin-right: 8rem;
}

.review{
    padding-right: 3.5rem;
}
